body {
     background-color:#ecdef0;
     text-align: center;
}

h1 {
    font-size: 48pt;
}

.containerhome{
    position:relative;
    padding-top: 150px;
    padding-left: 50px;
    width: 290px;

}