<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Person</title>
</head>
<body>
    <ul>
        {% for ser in seres %}

            <li>
                <form action="{% url 'person_update' ser.id %}">
                    <button type="submit">{{ser.first_name}}</button>
                </form>
                <form action="{% url 'person_delete' ser.id %}">
                    <button type="submit">Deletar</button>
                </form>
                <br>
            </li>

        {% endfor %}
    </ul>

    <br>
    <form action="{% url 'person_new' %}">
        <button type="submit">Novo Ser</button>
    </form>

</body>
</html>